html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }
  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

.dark body {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:nth-child(1) .card-header {
  background-color: #9b59b6;
}
.card:nth-child(2) .card-header {
  background-color: #3498db;
}
.card:nth-child(3) .card-header {
  background-color: #1abc9c;
}
.card:nth-child(4) .card-header {
  background-color: #f1c40f;
}
.card:nth-child(5) .card-header {
  background-color: #e74c3c;
}
.card:nth-child(6) .card-header {
  background-color: #34495e;
}
.card:nth-child(7) .card-header {
  background-color: #16a085;
}
.card:nth-child(8) .card-header {
  background-color: #2980b9;
}
.card:nth-child(9) .card-header {
  background-color: #f39c12;
}
.card:nth-child(10) .card-header {
  background-color: #c0392b;
}
.card:nth-child(11) .card-header {
  background-color: #7f8c8d;
}
.card:nth-child(12) .card-header {
  background-color: #2c3e50;
}

.card-header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-header i {
  margin-right: 10px;
  font-size: 24px;
  color: #ffffff;
}

.card-header h2 {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
}

.card-body {
  padding: 20px;
  font-size: 14px;
  color: #666666;
}

